<p class="comment_header">Add Team Member:</p>
<span class="comment">
	<%= form_for([@project, @project.team_members.build]) do |f| %>
		<div class="field">
		<br />
		Name: 
		<br />
		<%= f.text_area :membername, :class => "span5", :rows => "1" %>
		<br />
		Bio: 
		<br />
		<%= f.text_area :content, :class => "span5", :rows => "5" %>
		</div>
		<p>
	    	<%= f.file_field :teamuserimage %>
	  	</p>
	  	<p>
	    	<%= f.label :remote_teamuserimage_url, "Or Image URL" %>
	    	<%= f.text_field :remote_teamuserimage_url %>
	  	</p>

		<div class="actions">
		<%= f.submit "Add Team Member", :class => "btn btn-header" %>
		</div>
	<% end %>
</span>