<div class="twocomments"> 
  <div class="indentline"></div>
  <div class="media">
    <a class="pull-left">
      <img class="media-object" data-src= <%= image_tag newcomment.user.image_url(:thumbindex).to_s %>
    </a>   

    <ul class = "bullets-left">
      <li class ="linkhover"><strong><%= link_to newcomment.user.name, show_user_path(newcomment.user.permalink) %></strong></li>
      <li>Posted <%= time_ago_in_words(newcomment.created_at) %> ago</li>
    </ul>

    <div class="indentcommentcontent media-body">
      <%= newcomment.content %>
      <span>
        <% if current_user.try(:admin?) || current_user == newcomment.user %>
          <div class="pull-right">
            <%= link_to "Destroy", newcomment, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </span>
      <br />
      
    </div>     
  </div>

</div>

 <div class="replyindent linkhover">
  <%= link_to 'Comments', newcomment_path(newcomment), id: "show_comments" %>
  ( <%= link_to newcomment.ttwocomments.count, newcomment_path(newcomment) %> )
</div>