<div class="footer">
    <div class="container">
        <center>
            <br /><br />
            <%= link_to 'FAQ', faq_path %> ~ 
            <%= link_to 'Terms of Use', terms_path %> ~ 
            <%= link_to 'Privacy Policy', privacypolicy_path %>
        </center>
    </div>
</div>


<!-- <div class="footer">
	<div class="container">

        <div class="row">
            <div class="span2">
                <small>
           		</small>
            </div>
            <div class="span2 offset8">
                <small>
	                <ul class="nav">
	                	<li>&nbsp;</li>
	                	<li><%= link_to 'FAQ', faq_path %></li>
	                    <li><%= link_to 'Terms of Use', terms_path %></li>
	                    <li><%= link_to 'Privacy Policy', privacypolicy_path %></li>
	                </ul>
            	</small>
            </div>
        </div>
	</div>
</div>
 -->

